#忽略上传的目录测试
seclee/db.sqlite3
seclee/__pycache__
seclee/*/__pycache__
seclee/*/migrations
db.sqlite3
__pycache__/__init__.cpython-37.pyc
__pycache__/settings.cpython-37.pyc
__pycache__/urls.cpython-37.pyc
__pycache__/wsgi.cpython-37.pyc
helloworld/__pycache__/__init__.cpython-37.pyc
helloworld/__pycache__/admin.cpython-37.pyc
helloworld/__pycache__/apps.cpython-37.pyc
helloworld/__pycache__/models.cpython-37.pyc
helloworld/__pycache__/urls.cpython-37.pyc
helloworld/__pycache__/views.cpython-37.pyc
helloworld/migrations/__init__.py
helloworld/migrations/0001_initial.py
helloworld/migrations/__pycache__/__init__.cpython-37.pyc
helloworld/migrations/__pycache__/0001_initial.cpython-37.pyc
*__pycache__
*.sqlite3
.gitignore
